{% extends 'vacancies/base.html' %}
{% load static %}

{% block title %}Востребованность{% endblock %}

{% block content %}
    <h1>Востребованность</h1>

                <h2>Средняя зарплата по годам</h2>
                <img src="{% static 'vacancies/img/demand_avg_salary.png' %}" alt="Средняя зарплата по годам">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Год</th>
                            <th>Средняя зарплата</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for year, avg_salary in avg_salary_stats %}
                            <tr>
                                <td>{{ year }}</td>
                                <td>{{ avg_salary }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h2>Количество вакансий по годам</h2>
                <img src="{% static 'vacancies/img/vacancies_all.png' %}" alt="Количество всех вакансий">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Год</th>
                            <th>Количество вакансий</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for year, vacancy_count in vacancy_stats %}
                            <tr>
                                <td>{{ year }}</td>
                                <td>{{ vacancy_count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h2>Средняя зарплата для Backend-программиста по годам</h2>
                <img src="{% static 'vacancies/img/demand_avg_salary_backend.png' %}" alt="Средняя зарплата для Backend-программиста по годам">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Год</th>
                            <th>Средняя зарплата для Backend-программиста</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for year, avg_salary_backend in backend_avg_salary_stats %}
                            <tr>
                                <td>{{ year }}</td>
                                <td>{{ avg_salary_backend }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h2>Количество вакансий (Backend-программист) по годам</h2>
                <img src="{% static 'vacancies/img/vacancies_backend.png' %}" alt="Количество вакансий для Backend-программиста">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Год</th>
                            <th>Количество вакансий (Backend-программист)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for year, backend_count in backend_stats %}
                            <tr>
                                <td>{{ year }}</td>
                                <td>{{ backend_count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
{% endblock %}
