{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Востребованность</title>
    <link rel="stylesheet" href="{% static 'vacancies/css/demand.css' %}">
</head>
<body>
    <header>
        <h1>Логотип - Название проекта</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/demand/">Востребованность</a></li>
        </ul>
    </nav>

    <h1>Востребованность</h1>

    <h2>Средняя зарплата по годам</h2>

    <img src="{% static 'vacancies/img/avg_salary.png' %}" alt="Средняя зарплата по годам">

    <table>
        <thead>
            <tr>
                <th>Год</th>
                <th>Средняя зарплата</th>
            </tr>
        </thead>
        <tbody>
            {% for year, avg_salary in avg_salary_stats %}
                <tr>
                    <td>{{ year }}</td>
                    <td>{{ avg_salary }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Количество вакансий по годам</h2>

    <img src="{% static 'vacancies/img/vacancies_all.png' %}" alt="Количество всех вакансий">

    <table>
        <thead>
            <tr>
                <th>Год</th>
                <th>Количество вакансий</th>
            </tr>
        </thead>
        <tbody>
            {% for year, vacancy_count in vacancy_stats %}
                <tr>
                    <td>{{ year }}</td>
                    <td>{{ vacancy_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Средняя зарплата для Backend-программиста по годам</h2>

    <img src="{% static 'vacancies/img/avg_salary_backend.png' %}" alt="Средняя зарплата для Backend-программиста по годам">

    <table>
        <thead>
            <tr>
                <th>Год</th>
                <th>Средняя зарплата для Backend-программиста</th>
            </tr>
        </thead>
        <tbody>
            {% for year, avg_salary_backend in backend_avg_salary_stats %}
                <tr>
                    <td>{{ year }}</td>
                    <td>{{ avg_salary_backend }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Количество вакансий (Backend-программист) по годам</h2>

     <img src="{% static 'vacancies/img/vacancies_backend.png' %}" alt="Количество вакансий для Backend-программиста">

    <table>
        <thead>
            <tr>
                <th>Год</th>
                <th>Количество вакансий (Backend-программист)</th>
            </tr>
        </thead>
        <tbody>
            {% for year, backend_count in backend_stats %}
                <tr>
                    <td>{{ year }}</td>
                    <td>{{ backend_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>
    <footer>
        <p>ФИО и академическая группа студента</p>
    </footer>
</body>
</html>