<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Динамика вакансий по годам</title>
</head>
<body>
    <h1>Динамика вакансий по годам</h1>

    <table>
        <thead>
            <tr>
                <th>Год</th>
                <th>Количество вакансий</th>
            </tr>
        </thead>
        <tbody>
            {% for year, vacancy_count in vacancy_stats %}
                <tr>
                    <td>{{ year }}</td>
                    <td>{{ vacancy_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>